body { font-family: 'Raleway', sans-serif!important; font-size: 16px; }
h1 { color: #ffffff; font-size: 3em; text-shadow: 0 0 3px #000000; width: 100%; }
.h2_oferta { display: flex; justify-content: center; align-items: center; text-align: center; color: #ffffff; 
	width: 100%; background-color: #5bc0a4; padding: 20px 0;}
.h2_oferta h2 { font-size: 2em; font-weight: 700; }
a { text-decoration: none!important; }
ul{ list-style: none; padding: 0; margin-top: 5px; }

.llamadores { display: flex; justify-content: center; width: 100%; }

/* Whatsap */
.whatsapp { display: flex; justify-content: center; align-items: center; margin-top: 5px; }
.whatsapp p { margin: 0; margin-left: 5px; font-family:'Raleway', sans-serif; font-size: 12px; line-height: 1.3; }
/* Whatsap end */

/* Pagos */
.pagos { margin-bottom: 60px; }
.pagos .mano_tarjeta { display: flex; justify-content: center; align-items: center; margin-bottom: 15px; }
.pagos .mano_tarjeta h3 { text-align: left; font-size: 2rem; }
.pagos .mano_tarjeta img { max-width: 50%; margin-right: 15px; }
/* Pagos end */

/* COMUNES */
.inline { display: inline; }
.transition{
  -webkit-transition: all ease-in-out .3s; /* Safari */
	transition: all ease-in-out .3s;
}
.bold{ font-weight: 700; }

.align_vertical_horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align_vertical {
    display: flex;
    align-items: center;
}

.align_alto {
  display: flex;
	height: auto;
  flex-wrap: wrap;
  align-content: space-around;
}

.mb_10{margin-bottom: 10px;}
.mb_15{margin-bottom: 15px;}
.mb_20{margin-bottom: 20px;}
.mb_30{margin-bottom: 30px;}
.mb_60{margin-bottom: 60px;}

/* RECAPTCHA */
#recaptcha, #rc-imageselect {
	margin: 10px auto;
	display: table;
}

/* HEADER */
header .col-md-6 { display: flex; justify-content: flex-start; align-items: center; }
header .header_datos { flex-direction: column; justify-content: center; align-items: flex-end; }
header{ padding: 10px; font-size: 1.25em; }
header, header a { color: #5bc0a4!important; }
header a:hover { color: #42927d!important; }

/* Dispositivos extra pequeños (teléfonos de retrato, menos de 576px) */
@media (max-width: 575.98px) {
	header .col-md-6 { justify-content: center; }
	header{ font-size: 1em; }
	.header_datos .email { display: none; }

	/* Pagos */
	.pagos .mano_tarjeta h3 { font-size: 1.25rem; text-align: right; }
	.pagos .mano_tarjeta img { max-width: 35%; }
	/* Pagos end */
}

/* Dispositivos pequeños (teléfonos apaisados, 576px y más) */
@media (min-width: 576px) and (max-width: 767.98px) {
	header .col-md-6 { justify-content: center; }
	header{ font-size: 1em; }
	.whatsapp { margin-top: 10px; }
	.whatsapp p { font-size: 10px; }

	/* Pagos */
	.pagos .mano_tarjeta h3 { font-size: 1.5rem; }
	.pagos .mano_tarjeta img { max-width: 25%; }
	/* Pagos end */
}

/* Dispositivos medianos (tabletas, 768px y más) */
@media (min-width: 768px) and (max-width: 991.98px) {
	header{ font-size: 1em; }
}

/* MEDIOS DE PAGO */
.medios_pago{ background-color: rgba(255, 255, 255, 0.6); padding: 10px; color: #000000; margin-top: 30px; box-shadow: 0 0 3px #000000; }
.medios_pago p{ font-size: 1.25em; font-weight: bold; }

/* HEADER IMAGEN */

.formulario_mobile{ display: none; }

.header_img {
  position: relative;
	background-image: url('../img/deck-header.jpg');
	background-position: 50% 0%;
  background-repeat: no-repeat;
  padding: 15px;
}

.header_garantia{ max-width: 30%; margin-right: 15px;}
.header_origen{ max-width: 50%;}

.formulario{ padding: 20px 30px 10px 30px; background-color: rgba(255, 255, 255, 0.9) }
.h2_formulario, .h3_formulario{ text-align: center; }
.h2_formulario{ font-weight: 700; font-size: 1.25em; }
.h3_formulario{ font-weight: 400; font-size: 1.125em; margin-bottom: 15px; }
.form-check-input{ margin-top: 10px; }
.form-check-label{ margin-top: 5px; }
#send { width: 100%; background-color: #5bc0a4; font-weight: 700; padding: 5px 10px; border-radius: 5px; border:none; }
#send:hover { background-color: #42927d!important; }
.error{ font-size: 0.75em; color: red; }

/* CARACTERISTICAS */
.caracteristicas { margin-top: 80px; }
.caracteristicas img { max-width: 30px; }
.h2_titulos { margin: 0; font-weight: 700; font-size: 2em; }
.h3_titulos { margin: 0; font-size: 1.5em; padding-left: 10px; }
.franja_verde{ background-color: #97bc3c; padding: 20px; }
.parrafo_franja_verde{ color: #ffffff; font-size: 1.75em; margin: 0; }

/* SHOWROOMS */
.showrooms_titulo { margin-top: 0!important; }
.showrooms .h2_showrooms { font-size: 1.75rem; margin: 30px 0 60px 0; }
.showrooms .col-lg-6 { display: flex; }
.showrooms .col-lg-6 .mapa { width: 50%; max-width: 50%; height: 530px; }
.showrooms .col-lg-6 .datos_mapa { display: flex; width: 50%; max-width: 50%; background-color: #5bc0a4; color: white; padding: 30px 15px;
	flex-direction: column; align-items: center; justify-content: space-between; text-align: center; min-height: 530px; }
.showrooms .datos_mapa h4 { font-size: 1.5rem; font-weight: 700; margin: 15px 0; }
.showrooms .datos_mapa .direccion { width: 80%; text-align: center; }
.showrooms .datos_mapa hr { width: 80%; height: 2px; background-color: white; display: block; }
.showrooms .datos_mapa .horario { width: 80%; text-align: center; }
.showrooms .datos_mapa a { margin-top: 30px; background: none; border: 2px solid white; color: white; font-weight: 700; }
.showrooms .datos_mapa a:hover { border: 2px solid grey; color: grey; }
.cita_previa { opacity: 0.9; color: #007341; }
/* SHOWROOMS end */

/* LINEA TRASCEND */
.titulo_linea, .destacado, .parrafo_descripcion_linea{ color: #3c3c3b; }
.titulo_linea{ font-size: 1.75em; }
.destacado{ font-size: 1.5em; font-weight: 700; }
.parrafo_descripcion_linea{ font-size: 1.12em; }
.divisor{ border-top: solid #a9a3a1 1px; border-bottom: solid #e2e0df 2px; box-shadow:0px 0px 1px grey; }
.colores h4{ font-weight: 700; }

/*  FIJACION OCULTA */
.fijacion_oculta h3{ font-weight: 700; font-size: 2.25em; }

/*  FAJA VERDE */
.faja_verde{ background-color: #5bc0a4; color: #ffffff; padding: 40px; font-size: 1.25em; }

/*  GARANTIA */
.garantia { margin: 30px 0; }
.garantia h3 { font-weight: 700; font-size: 2.25em; }

/* IMAGEN FOOTER */
.imagen_footer{ 
	position: relative;
	background-image: url('../img/mayor-rendimiento.jpg');
	background-position: 50% 0%;
  height: 670px;
  background-repeat: no-repeat;
  padding: 15px;
 }
 .imagen_footer h3::before{ content: "";display: block; width: 46px; height: 8px; margin-left: 5px; background-color: #ffffff; text-shadow: 0 0 3px #000000; }
 .imagen_footer h3{ color: #ffffff; font-size: 4em; margin-top: 400px; text-shadow: 0 0 3px #000000; }
 .imagen_footer span{ display: inline-block; font-weight: 700; margin-left: 100px; }

 /* APLICACIONES */
 .aplicaciones { margin-bottom: 60px; }
 .aplicaciones h5, .aplicaciones p{ font-size: 1.125em; }
 .aplicaciones_parrafo{ font-size: 1.15em; color: #6b6b6b; }

 /* MARRON MIEL */
.contour{ margin: 0; color: #ffffff; font-size: 2.5em; font-weight: 700;}
.marron_miel{ margin: 0; color:#3e3e3f; font-size: 2em; font-weight: 700;}
.marron_miel_datos{ margin: 0; color:#3e3e3f; font-size: 1.5em;}
.color_deck { font-size: 2.5em; color: #5bc1a4; font-weight: 700; }
.fondo_rojo { background-color: #5bc1a4; max-width: 50%; margin: auto; border-radius: 10px; padding: 5px 0; }
.mas_iva{ font-size: 0.5em;  }
.metro_cuadrado{ color: #ffffff; }
.btn_comprar { display: inline-block; background-color: #851719; margin-bottom: 60px; font-weight: 700; padding: 10px 20px; border-radius: 5px; }
.btn_comprar:hover { background-color: #1f2020; }
.btn_miel { margin-top: 15px; background-color: #e30613; font-size: 2em; }
.btn_miel:hover { background-color: #bc171d; }
 /********/

 /* FOOTER */
 footer {	background-color: #5bc0a4; padding: 30px;}
 footer a, footer p { color: #ffffff;}
 footer a { display: inline-block; }
 .mail:hover { opacity: 0.5; color: #ffffff!important; }
 .mail a:hover { color: #ffffff!important; }
 footer p { font-size: 0.85em; }
 .mail img{ margin-right: 10px; }

 /* GRACIAS */
 .gracias_parrafo { color: #ffffff; font-size: 1.75em; text-shadow: 0 0 3px #000000; }
 .landing a h3 { font-weight: 700; color: #5bc0a4; }
 .landing a h3:hover { color:#000000; }
 .landing a:hover { filter:contrast(120%); opacity: 0.6; }


/* MEDIA QUERIES */

/* Dispositivos extra pequeños (teléfonos de retrato, menos de 576px) */
@media (max-width: 575.98px) { 
	.hidden_phone{ display: none; }
	.header_garantia{ width: 40%!important; }
	.header_origen{ width: 60%!important; }
	.datos_linea{ text-align: center; margin-top: 10em; margin-bottom: 10em;}
	.titulo_linea{ font-size: 1.25em; }
	.destacado{ font-size: 1.5em; font-weight: 500; }
	.formulario_mobile { display: inline-block; }
	.formulario_escritorio { display: none; }
	h1 {margin: 0; text-shadow: none; color: #5bc0a4; font-size: 1.75em; margin-top: 15px;}
	.formulario{ background-color: rgba(200, 200, 200); margin-top: 30px; }
	.h2_oferta h2 { font-size: 1.35rem; font-weight: 400; }
	.h2_titulos { font-weight: 500; font-size: 1.5em; }
	.h3_titulos { font-weight: 400; font-size: 1.25em;}
	.franja_verde img { max-width: 20%; margin-bottom: 15px; }
	.parrafo_franja_verde{ font-size: 1.25em; }
	.faja_verde{ font-size: 1.15em; margin-bottom: 30px; }
	.imagen_footer h3::before{ width: 18px; height: 3px; margin-left: 2px; background-color: #ffffff; }
	.imagen_footer h3{ font-size: 1.75em; margin-top: 270px; }
	.gracias_parrafo { color: #5bc0a4; font-size: 1.5em; text-shadow: none; }
	.caracteristicas {margin-top: 30px; }
	.caracteristicas .tilde { max-width: 20px; }
	.caracteristicas .h3_titulos { font-size: 1.15rem; }
	.colores h4{ font-weight: 500; font-size: 1.25rem; }

	/* SHOWROOMS */
	.showrooms_titulo { margin-bottom: 30px; }
	.h2_showrooms { font-weight: 400; font-size: 1.25rem!important; margin-bottom: 30px; }
	.showrooms .col-lg-6 { flex-direction: column; }
	.showrooms .col-lg-6 .mapa { width: 100%; max-width: 100%; order: 1; height: 350px; min-height: 350px!important; margin-bottom: 30px; }
	.showrooms .col-lg-6 .mapa iframe { height: 350px; min-height: 350px!important; }
	.showrooms .col-lg-6 .datos_mapa { width: 100%; max-width: 100%; padding: 15px; height: 350px; min-height: 350px; }
	.showrooms .datos_mapa img { max-width: 10%; }
	.showrooms .datos_mapa h4 { font-size: 1.25rem; font-weight: 400; margin: 0; }
	.showrooms .datos_mapa .direccion { width: 80%; }
	.showrooms .datos_mapa hr { margin: 0; }
	.showrooms .datos_mapa .horario { width: 80%; }
	.showrooms .datos_mapa a { margin-top: 0; font-weight: 500; }
	
	/*  FIJACION OCULTA */
	.fijacion_oculta h3{ font-weight: 500; font-size: 1.5em; }
	.colores .col-md-6 { margin-bottom: 60px; }

	/*  GARANTIA */
	.garantia { margin-bottom: 60px; }
	.garantia img { max-width: 40%; margin-bottom: 30px; }
	.garantia p { margin: 0; }
	.imagen_footer .container, 
	.imagen_footer .row,
	.imagen_footer .col-lg-10 { height: 100%; }
	.imagen_footer .col-lg-10 { display: flex; justify-content: center; align-items: center; }
	.imagen_footer .col-lg-10 h3 { margin: 0; }
	.imagen_footer { background-position: 100% 0%; height: 350px; }

	/* APLICACIONES */
	.aplicaciones img { max-width: 25%; }
	.aplicaciones .col-md-4 { margin-bottom: 30px; }
	.aplicaciones .aplicaciones_parrafo { font-size: 1rem; }

	#recaptcha, #rc-imageselect {
		-webkit-transform: scale(0.78);
		-moz-transform:    scale(0.78);
		-ms-transform:     scale(0.78);
		-o-transform:      scale(0.78);
		transform:         scale(0.78);
		-webkit-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-o-transform-origin: 0 0;
		transform-origin: 0 0;
		position: relative;
		left: 5%;
	}
	.h2_oferta_mobile{ font-weight: 700; text-align: center; margin-bottom: 30px; margin-top: 15px; color: #851811; }
	.h3_paga_cuotas{ font-size: 1.5rem; text-align: center; margin-top: 10px; }
	.parrafo_descripcion_linea { font-size: 1rem; }

}

/* Dispositivos pequeños (teléfonos apaisados, 576px y más) */
@media (min-width: 576px) and (max-width: 767.98px) { 
	.header_datos{ text-align: center!important; margin-top: 10px; }
	.header_garantia{ width: 50%!important; }
	.header_origen{ width: 80%!important; }
	h1 { font-size: 2.5em; }
	.datos_linea{ margin-bottom: 80px; }
	.formulario{ background-color: rgba(200, 200, 200); margin-top: 30px; }
	.caracteristicas{margin-top: 60px; }
	.imagen_footer h3::before{ width: 18px; height: 3px; margin-left: 2px; background-color: #ffffff; }
	.imagen_footer h3{ font-size: 3em; margin-top: 435px; margin-left: 30px; }
	.datos_linea{ text-align: center; display: flex; align-items: center; justify-content: center; }
	.header_img { height: 460px; }
	.h2_oferta { margin-top: 660px; }
	.h2_oferta h2 { font-size: 1.5rem; font-weight: 500; }
	.img-oferta { max-width: 50%; margin-top: 30px; }

	/* SHOWROOMS */
	.showrooms .col-lg-6 { flex-direction: column; margin-bottom: 30px; }
	.showrooms .col-lg-6 .mapa { width: 100%; max-width: 100%; order: 1; height: 350px; min-height: 350px!important; }
	.showrooms .col-lg-6 .mapa iframe { height: 350px; min-height: 350px!important; }
	.showrooms .col-lg-6 .datos_mapa { width: 100%; max-width: 100%; padding: 15px; height: 300px; min-height: 300px; }
	.showrooms .datos_mapa img { max-width: 5%; }
	.showrooms .datos_mapa h4 { font-size: 1.25rem; font-weight: 500; margin: 0; }
	.showrooms .datos_mapa .direccion { width: 80%; }
	.showrooms .datos_mapa hr { margin: 0; }
	.showrooms .datos_mapa .horario { width: 80%; }
	.showrooms .datos_mapa a { margin-top: 0; font-weight: 500; }

	.caracteristicas { margin-top: 30px; }
	.caracteristicas .h2_titulos { font-weight: 500; font-size: 1.75rem; }
	.caracteristicas .tilde { max-width: 30px; }
	.caracteristicas .h3_titulos { font-size: 1.15rem; }
	.colores h4{ font-weight: 500; font-size: 1.25rem; }

	.franja_verde img { max-width: 15%; }
	.franja_verde .parrafo_franja_verde{ font-size: 1.25em; font-weight: 500; }

	.titulo_linea { font-size: 1.5rem; margin-bottom: 30px; }

	.colores img { max-width: 70%; }

	.fijacion_oculta { text-align: center; }
	.fijacion_oculta img { max-width: 70%; margin: auto; text-align: center; }
	.fijacion_oculta h3 { font-size: 1.75rem; font-weight: 500; }

	/*  FAJA VERDE */
	.faja_verde{ padding: 25px; }

	/*  GARANTIA */
	.garantia { margin: 30px 0!important; }
	.garantia img { max-width: 25%; margin-bottom: 30px; }

	.imagen_footer .container, 
	.imagen_footer .row,
	.imagen_footer .col-lg-10 { height: 100%; }
	.imagen_footer .col-lg-10 { display: flex; justify-content: center; align-items: center; }
	.imagen_footer .col-lg-10 h3 { margin: 0; }
	.imagen_footer { background-position: 100% 0%; height: 350px; }

	/* APLICACIONES */
	.aplicaciones img { max-width: 15%; }
	.aplicaciones .col-md-4 { margin-bottom: 30px; }
	.aplicaciones .aplicaciones_parrafo { font-size: 1rem; }

}

/* Dispositivos medianos (tabletas, 768px y más) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.datos_linea { display: flex; align-items: center; justify-content: center; text-align: center; }
	#recaptcha, #rc-imageselect {
		-webkit-transform: scale(0.88);
		-moz-transform:    scale(0.88);
		-ms-transform:     scale(0.88);
		-o-transform:      scale(0.88);
		transform:         scale(0.88);

		-webkit-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-o-transform-origin: 0 0;
		transform-origin: 0 0;
	}
	.header_img { height: 520px; }
	.h2_oferta { margin-top: 700px; }
	.h2_oferta h2 { font-size: 1.75rem; font-weight: 500; }
	.img-oferta { max-width: 40%; margin-top: 50px; }

	.formulario{ margin-top: 80px!important; width: 90%; background-color: rgba(200, 200, 200); }
	.datos_linea{ text-align: center; }

	/* SHOWROOMS */
	.showrooms .col-lg-6 { margin-bottom: 30px; }
	.showrooms .nordelta .mapa { order: 2; }
	.showrooms .nordelta .datos_mapa { order: 1; }
	.showrooms .col-lg-6 .mapa { height: 400px; }
	.showrooms .col-lg-6 iframe { min-height: 435px!important; }
	.showrooms .col-lg-6 .datos_mapa { min-height: 435px; padding: 15px; }
	.showrooms .h2_showrooms { font-size: 1.5rem; margin: 30px 0; }
	/* SHOWROOMS end */

	.caracteristicas { margin-top: 30px; }
	.caracteristicas .h2_titulos { font-weight: 500; font-size: 1.75rem; }
	.caracteristicas .tilde { max-width: 30px; }
	.caracteristicas .h3_titulos { font-size: 1.15rem; }
	.colores h4{ font-weight: 500; font-size: 1.25rem; }

	.franja_verde img { max-width: 50%; }
	.franja_verde .parrafo_franja_verde{ font-size: 1.5em; font-weight: 500; }

	.titulo_linea { font-size: 1.5em; margin-bottom: 30px; }

	/*  FAJA VERDE */
	.faja_verde{ padding: 25px; }

	/*  GARANTIA */
	.garantia { margin: 30px 0; }

	.imagen_footer .container, 
	.imagen_footer .row,
	.imagen_footer .col-lg-10 { height: 100%; }
	.imagen_footer .col-lg-10 { display: flex; justify-content: center; align-items: center; }
	.imagen_footer .col-lg-10 h3 { margin: 0; font-size: 2.5rem; }
	.imagen_footer { background-position: 100% 0%; height: 350px; }

	/* APLICACIONES */
	.aplicaciones { margin-bottom: 60px; }
	.aplicaciones img { max-width: 45%; }
	.aplicaciones .aplicaciones_parrafo { font-size: 1rem; }

}

/* Dispositivos grandes (escritorios, 992px y más) */
@media (min-width: 992px) and (max-width: 1199.98px) {

	/*  GARANTIA */
	.garantia { margin: 30px 0; }

}

/* Dispositivos extragrandes (escritorios grandes, 1200px y más) */
@media (min-width: 1200px) { 
}
